* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* ===================MESSAGE======================== */
#message {
	display: none;
	flex-direction: column;
	background-color: #fff;
	border-radius: 6px;
	width: 350px;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
	letter-spacing: 0.5px;
	animation: anime 0.5s ease-out;
}

#message P {
	margin-left: 7px;
	padding: 7px 0;
	font-size: 15px;
}
.message-form {
	width: 400px;
	margin: 50px auto;
	font-size: 15px;
}

.message-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.message-form h2 {
	margin: 0 0 15px;
}
/* ===================BUTTON======================== */
.btn {
	min-height: 38px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: bold;
}
/* =================VALIDATOR========================== */
.invalid {
	color: red;
}
/*Lorsque les exigences sont erronés*/
.invalid:before {
	position: relative;
	left: -7px;
	content: "❌";
}
/*Lorsque les exigences sont respectée */
.valid {
	color: green;
}
.valid:before {
	position: relative;
	left: -7px;
	content: "✅";
}
/* ===================FORMULAIRE======================== */
.register-form {
	width: 340px;
	margin: 50px auto;
	font-size: 15px;
}

.register-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.register-form h2 {
	margin: 0 0 15px;
}

/* Animation message */
@keyframes anime {
	from {
		transform: translateY(100px);
	}
}
